#QuadForm {
	float:left;
	display: inline-block;
}
	
#A {
	float:left;
	display: inline-block;
	padding:0px;
	margin:0px;
	vertical-align: bottom;
}	
#B{
	float:left;
	display:inline-block;

}
#C{
	float:left;
	display:inline-block;
}
#X{
	float:left;
	display:inline-block;
}
#X2{
	float:left;
	display:inline-block;
}
#QuadSolve{
	float:left;
}
#SideC {
	font-size: 25px;
}
